<% matching_records = User.where({ :id => params.fetch(:username) }) %>
<% @user = matching_records.at(0) %>
<h1><%= @user.username %></h1>

<dt>ID</dt>
<dd><%= @user.id %></dd>

<dt>Edit user</dt>
<dd>
  <form action="update_user/<%= @user.id %>" method="post">
    <label for="username_box">Username</label>
    <input type="text" id="username_box" name="update_username" value="<%= @user.username %>">
    <button>Update user</button>
  </form>
</dd>

<h2>Own photos(<%= @user.own_photos.count %>)</h2>
<table border="1">

  <th>Image</th>
  <th>Owner</th>
  <th>Caption</th>
  <th>Posted</th>
  <th></th>

  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><a href="">Show details</a></td>
  </tr>

</table>
