<h1>List of photos</h1>

<form action="/add_photo" method="post">
  <label for="new_image_link">Image</label>
  <input type="text" name="image_text" id="new_image_link" placeholder="Enter a URL for the image">

  <label for="new_image_caption">Caption</label>
  <textarea type="text" name="new_image_body" id="new_image_caption" placeholder="Enter a caption for the photo..."></textarea>

  <label for="new_image_user">Owner ID</label>
  <input type="text" name="new_image_owner" id="new_image_user" placeholder="Enter an ID of a User">

  <button>Add photo</button>

</form>

<hr>

<table border="1">
  
  <th>Image</th>

  <th>Caption</th>

  <th>Owner</th>

  <th>Posted</th>

  <th></th>

  <% @list_of_photos = Photo.all.order({ :created_at => :desc }) %>
  <% @list_of_photos.each do |a_photo| %>
  <tr>

    <td><img src="<%= a_photo.image %>"></td>

    <td> <%= a_photo.caption %></td>

    <td> <%= a_photo.poster.username %></td>

    <td> <%= a_photo.created_at %></td>

    <td><a href="/photos/<%= a_photo.id %>">Show details</a></td>

  </tr>
  <% end %>
</table>
